// Footer
.quick-links {
  padding: $padding 0;
  article {
    &.blue {
      background: $blue;
    }
    &.red {
      background: $red;
    }
    &.green {
      background: $green;
    }
    .content {
      color: $white;
      text-align: center;
      padding: 30px;
      a.button {
        display: block;
      }
    }
  }
}
.social {
  padding: $padding 0;
  background: $red;
}
.newsletter {
  padding: $padding 0;
  background: $green;
}
footer {
  &.links {
    padding: $padding 0px;
    color: $white;
    background: $black;
  }
  &.accreditations {
    background: $white;
    padding: $padding-half 0px;
  }
}