// Footer
.quick-links {
  .container {
    padding: $padding 0;
    margin-top: $padding;
    border-top: 2px dashed $black;
  }
  article {
    &.blue {
      background: $blue;
      .button {
        background: $white;
        color: $blue;
      }
    }
    &.red {
      background: $red;
      .button {
        background: $white;
        color: $red;
      }
    }
    &.green {
      background: $green;
      .button {
        background: $white;
        color: $green;
      }
    }
    .content {
      color: $white;
      text-align: center;
      padding: 30px;
      h3 {
        font: $normal 3.2rem/4.0rem $headline;
        margin-bottom: 30px;
      }
      p {
        font: $normal 1.8rem/2.8rem $regular;
        margin-bottom: 30px;
      }
      a.button {
        display: block;
      }
    }
  }
}
.social {
  padding: $padding 0;
  background: $red;
  color: $white;
  h3 {
    text-align: center;
    font: $normal 6.0rem/6.0rem $headline;
    margin-bottom: 60px;
  }
  h4 {
    font: $normal 3.4rem/4.0rem $headline;
    color: $white;
    border-bottom: 1px solid $white;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
}
.newsletter {
  padding: $padding 0;
  background: $green;
  text-align: center;
  h3 {
    font: $normal 3.2rem/4.0rem $headline;
  }
  
}
footer {
  &.links {
    padding: $padding 0px;
    color: $white;
    background: $black;
  }
  &.accreditations {
    background: $white;
    padding: $padding-half 0px;
  }
}