/* Buttons */

.button {
  display: inline-block;
  padding: 15px 50px;
  font: $normal 2.2rem/2.8rem $headline;
  text-decoration: none;
  background: $red;
  color: $white;
  border: none;
  &:hover {
    text-decoration: none;
    // background: $black;
    // color: $white;
    border: none;
  }
  &.white {
    background: $white;
    color: $red;
  }
  &.red {
    background: $red;
    color: $white;
  }
}
// Booking Hound fixes
.tngbh-btn {
  @extend .button;
  @extend .white;
}
.individual-booking > .content > .tngbh-btn {
  @extend .button;
  @extend .red;
}

