// Activities Listing

.archive_listing, .quick_links {
  padding: $padding-half 0 0 0;
  article {
    background: $red;
    text-align: center;
    margin-bottom: $padding-half;
    h3 {
      z-index: 2;
      margin: 0;
      padding: 20px;
      font: $normal 2.8rem/3.4rem $headline;
      a {
        border-bottom: none;
      }
    }
    &:nth-child(6n+6) {
      background: $blue;
    }
    &:nth-child(2n+3) {
      background: $green;
    }
    &:nth-child(6n+1) {
      background: $blue;
    }
    &:nth-child(3n+4) {
      margin-left: 0;
    }
    .image {
      position: relative;
    }
    img {
      display: block;
      width: 100%;
      height: auto;
    }
    .overlay {
      z-index: 1;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: 0.7s ease;
      background-color: rgba(9, 0, 24, 0.50);
      ul {
        width: 100%;
        color: white;
        font: $normal 1.6rem/3rem $regular;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        li {
          margin: 0px 40px;
          padding: 8px 0px;
          list-style: none;
          border-bottom: 1px solid $white;
          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
    &:hover .overlay {
      opacity: 1;
    }
  }
}

.contact_cta {
  background: $green;
  color: $white;
  padding: $padding 0;
  font: $normal 2.8rem/3.8rem $regular;
}

// Activity Single

.activity.hero {
  text-align: center;
  .button {
    margin: 10px;
  }
}

.activity-slider {
  margin-bottom: 100px !important;
  .slick-slide {
    padding: 0 20px 0 0;
  }
  ul.slick-dots {
    li {
      background: $red;
      border: 1px solid $red;
      &.slick-active, &:hover {
        background: none;
        border: 1px solid $red;
      }
    }
  }
}

.glance {
  margin-bottom: $padding-half;
  background: $white;
  color: $red;
  .content {
    padding: 40px;
    h2 {
      color: $red;
      font: $normal 4.6rem/5rem $headline;
    }
  }
  
}

.lead {
  margin-bottom: $padding-half;
  p {
    &:first-child {
      font: $normal 3.6rem/4.4rem $regular;
    }
    font: $normal 2.4rem/3.4rem $regular;
  }
}

.accordionItem {
  
}

.open .accordionItemHeading {
  border-bottom: none;
}
.accordionItemHeading {
  color: $red;
  font: $normal 3.6rem/4.4rem $headline;
  border-bottom: 2px solid $red;
  margin-bottom: 10px;
  padding-bottom: 10px;
  cursor:pointer;
  position: relative;
  &:before {
    content: "";
    background: url('../img/open_close_icon.svg') 0 0 no-repeat;
    transform-origin: 30px 30px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    right: 0;
    top: 10px;
    height: 40px;
    width: 40px;
    position: absolute;
  }
}

.open .accordionItemHeading {
  position: relative;
  &:before {
    content: "";
    background: url('../img/open_close_icon.svg') 0 0 no-repeat;
    transform-origin: 15px 15px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-animation:spin 0.5s linear forwards;
    -moz-animation:spin 0.5s linear forwards;
    animation:spin 0.5s linear forwards;
  } 
}

.close .accordionItemHeading {
  &:before {
    -webkit-animation:return 0.5s linear forwards;
    -moz-animation:return 0.5s linear forwards;
    animation:return 0.5s linear forwards;  }
}

@keyframes spin { 
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% { 
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  } 
}

@keyframes return {
  0% {
    transform-origin: 15px 15px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  100% { 
    transform-origin: 15px 15px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  } 
}
.close .accordionItemContent{
  height:0px;
  transition:height 1s ease-out;
  -webkit-transform: scaleY(0);
	-o-transform: scaleY(0);
	-ms-transform: scaleY(0);
	transform: scaleY(0);
  float:left;
  display:block;   
}
.open .accordionItemContent{
  border-bottom: 2px solid $red;
  margin: 0px 0px 10px 0px;
  padding-bottom: 20px;
  display:block;
  -webkit-transform: scaleY(1);
	-o-transform: scaleY(1);
	-ms-transform: scaleY(1);
	transform: scaleY(1);
  -webkit-transform-origin: top;
	-o-transform-origin: top;
	-ms-transform-origin: top;
	transform-origin: top;
	-webkit-transition: -webkit-transform 0.5s ease-out;
	-o-transition: -o-transform 0.5s ease;
	-ms-transition: -ms-transform 0.5s ease;
	transition: transform 0.5s ease;
  box-sizing: border-box;
}


.bookings {
  margin: $padding-half 0;
  .individual-booking {
    background: $white;
    color: $red;
    .content {
      padding: 40px;
      text-align: center;
      h3 {
        color: $red;
        font: $normal 3.6rem/4.4rem $headline;
      }
      svg { 
        margin: 20px 0px;
        path {
          fill: $red !important;
        }
      } 
    }
  }
  .group-booking {
    background: $red;
    color: $white;
    .content {
      padding: 40px;
      text-align: center;
      h3 {
        color: $white;
        font: $normal 3.6rem/4.4rem $headline;
      }
      svg {
        margin: 20px 0px;
        path, circle {
          fill: $white !important
        }
      }
    }
  }
}




.related {
  padding: $padding-half 0 0 0;
  h3 {
    color: $red;
    font: $normal 3.6rem/4.4rem $headline;
  }
  ul {
    color: $red;
    li {
      margin: 0;
      padding: 10px 0px;
      list-style: none;
      border-bottom: 1px solid #e0d1c8;
      &:first-child {
        border-top: 1px solid #e0d1c8;
      }
      a {
        color: $red;
        border-bottom: 1px solid $red;
      }
      
    }
  }
}